
.form {
    border: black;
    border-style: solid;
    padding: 10px;
    background-color: #112A46;
    color: #ACC8E5;
    width: 70ch ;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
}
