<app-header></app-header>
<br>
<div class="content">
    <form class="form" action="https://formspree.io/f/mdkaajgq" method="post">
        Interested in working with me? Please reach out! I'll get back to you as soon as I can!
        <br>

        <div class="inputs">
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" required>
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Send me a message:</label>
            <textarea id="message" name="message" rows="4" cols="50"></textarea>
            <input class="submit" type="submit" value="Submit" required>
        </div>
    </form>
</div>