/* You can add global styles to this file, and also import other style files */
.header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F1EEEE;
    color: #000005;
    padding: 5px;
}

.navigation {
    display: flex;
}

p {
    padding: 5px;
}

p:hover {
    color: blue;
}