
.box {
    display: flex;
    gap: 10px;
    justify-content: center;
    border: black;
    border-style: solid;
    width: 100%;
    background-color: #112A46;
    color: #ACC8E5;
}

.content {
    display: flex;
    width: 25%;
    border-left: solid;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}



.infoText {
    color: #ACC8E5;
}

@media screen and (max-width: 800px) {
    .box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        border: black;
        border-style: solid;
        width: 100%;
        background-color: #112A46;
        color: #ACC8E5;
    }
    .content {
        display: flex;
        width: auto;
        border-bottom: solid;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        
    }

}
